In [38]:
import pandas as pd
data_baru = pd.read_csv('test semua band.csv')
data_baru.head()

,Band 1,xcoord,ycoord,Band 11,Band 12,Band 13,Band 14,Band 15,Band 16,Band 17,Band 18,Band 19,Band 110,Band 111
0,0.000000,113.424671,-2.163288,0.000000,0.0000,0.0000,0.0000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000
1,0.044506,113.424761,-2.163288,0.044506,0.0438,0.0718,0.0439,0.126023,0.339174,0.403142,0.3992,0.450352,0.231317,0.110028
2,0.044775,113.424851,-2.163288,0.044775,0.0452,0.0764,0.0497,0.130532,0.336040,0.399009,0.3940,0.446101,0.229461,0.110340
3,0.043292,113.424941,-2.163288,0.043292,0.0421,0.0812,0.0466,0.134379,0.351648,0.417839,0.4168,0.464143,0.223612,0.101271
4,0.042866,113.425030,-2.163288,0.042866,0.0423,0.0795,0.0438,0.136412,0.360097,0.429635,0.4285,0.476022,0.219683,0.099363

In [39]:
col_names = data_baru.columns
col_names

data_baru.columns = ['Band X','longitude','lattitude','Band 1', 'Band 2', 'Band 3',
              'Band 4', 'Band 5', 'Band 6',
              'Band 7', 'Band 8', 'Band 8A',
              'Band 11', 'Band 12']
data_baru.head()

,Band X,longitude,lattitude,Band 1,Band 2,Band 3,Band 4,Band 5,Band 6,Band 7,Band 8,Band 8A,Band 11,Band 12
0,0.000000,113.424671,-2.163288,0.000000,0.0000,0.0000,0.0000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000
1,0.044506,113.424761,-2.163288,0.044506,0.0438,0.0718,0.0439,0.126023,0.339174,0.403142,0.3992,0.450352,0.231317,0.110028
2,0.044775,113.424851,-2.163288,0.044775,0.0452,0.0764,0.0497,0.130532,0.336040,0.399009,0.3940,0.446101,0.229461,0.110340
3,0.043292,113.424941,-2.163288,0.043292,0.0421,0.0812,0.0466,0.134379,0.351648,0.417839,0.4168,0.464143,0.223612,0.101271
4,0.042866,113.425030,-2.163288,0.042866,0.0423,0.0795,0.0438,0.136412,0.360097,0.429635,0.4285,0.476022,0.219683,0.099363

In [40]:
# Menghapus baris yang memiliki nilai 0 di salah satu kolom
data_baru = data_baru[(data_baru != 0).all(axis=1)]

data_baru_pred = data_baru.drop(columns=['Band X'])
data_baru_pred.head()

,longitude,lattitude,Band 1,Band 2,Band 3,Band 4,Band 5,Band 6,Band 7,Band 8,Band 8A,Band 11,Band 12
1,113.424761,-2.163288,0.044506,0.0438,0.0718,0.0439,0.126023,0.339174,0.403142,0.3992,0.450352,0.231317,0.110028
2,113.424851,-2.163288,0.044775,0.0452,0.0764,0.0497,0.130532,0.336040,0.399009,0.3940,0.446101,0.229461,0.110340
3,113.424941,-2.163288,0.043292,0.0421,0.0812,0.0466,0.134379,0.351648,0.417839,0.4168,0.464143,0.223612,0.101271
4,113.425030,-2.163288,0.042866,0.0423,0.0795,0.0438,0.136412,0.360097,0.429635,0.4285,0.476022,0.219683,0.099363
5,113.425120,-2.163288,0.040278,0.0420,0.0762,0.0388,0.124923,0.340816,0.403166,0.4120,0.441881,0.194074,0.088096

In [41]:
data_baru_pred.head()

,longitude,lattitude,Band 1,Band 2,Band 3,Band 4,Band 5,Band 6,Band 7,Band 8,Band 8A,Band 11,Band 12
1,113.424761,-2.163288,0.044506,0.0438,0.0718,0.0439,0.126023,0.339174,0.403142,0.3992,0.450352,0.231317,0.110028
2,113.424851,-2.163288,0.044775,0.0452,0.0764,0.0497,0.130532,0.336040,0.399009,0.3940,0.446101,0.229461,0.110340
3,113.424941,-2.163288,0.043292,0.0421,0.0812,0.0466,0.134379,0.351648,0.417839,0.4168,0.464143,0.223612,0.101271
4,113.425030,-2.163288,0.042866,0.0423,0.0795,0.0438,0.136412,0.360097,0.429635,0.4285,0.476022,0.219683,0.099363
5,113.425120,-2.163288,0.040278,0.0420,0.0762,0.0388,0.124923,0.340816,0.403166,0.4120,0.441881,0.194074,0.088096

In [42]:
# Hitung NDVI (Normalized Difference Vegetation Index)
data_baru_pred['NDVI'] = (data_baru_pred['Band 8'] - data_baru_pred['Band 4']) / (data_baru_pred['Band 8'] + data_baru_pred['Band 4'])

# Hitung SAVI (Soil-Adjusted Vegetation Index)
L = 0.5
data_baru_pred['SAVI'] = ((data_baru_pred['Band 8'] - data_baru_pred['Band 4']) / (data_baru_pred['Band 8'] + data_baru_pred['Band 4'] + L)) * (1 + L)

# Hitung MSAVI (Modified Soil-Adjusted Vegetation Index)
data_baru_pred['MSAVI'] = 0.5 * ((2 * data_baru_pred['Band 8A'] + 1) - 
                                 ((2 * data_baru_pred['Band 8A'] + 1)**2 - 
                                  8 * (data_baru_pred['Band 8A'] - data_baru_pred['Band 5']))**0.5)

# Hitung EVI (Enhanced Vegetation Index)
data_baru_pred['EVI'] = 2.5 * ((data_baru_pred['Band 8A'] - data_baru_pred['Band 5']) / 
                               (data_baru_pred['Band 8A'] + 6 * data_baru_pred['Band 5'] - 7.5 * data_baru_pred['Band 1'] + 1))

# Hitung EVI2 (Enhanced Vegetation Index 2)
data_baru_pred['EVI2'] = 2.4 * ((data_baru_pred['Band 8A'] - data_baru_pred['Band 5']) / 
                                (data_baru_pred['Band 8A'] + 2.4 * data_baru_pred['Band 5'] + 1))

# Hitung GSAVI (Green Soil-Adjusted Vegetation Index)
data_baru_pred['GSAVI'] = ((data_baru_pred['Band 8A'] - data_baru_pred['Band 3']) / 
                           (data_baru_pred['Band 8A'] + data_baru_pred['Band 3'] + 0.5)) * (1 + 0.5)
data_baru_pred.head(10)

,longitude,lattitude,Band 1,Band 2,Band 3,Band 4,Band 5,Band 6,Band 7,Band 8,Band 8A,Band 11,Band 12,NDVI,SAVI,MSAVI,EVI,EVI2,GSAVI
1,113.424761,-2.163288,0.044506,0.0438,0.0718,0.0439,0.126023,0.339174,0.403142,0.3992,0.450352,0.231317,0.110028,0.801851,0.565104,0.445861,0.432970,0.444081,0.555522
2,113.424851,-2.163288,0.044775,0.0452,0.0764,0.0497,0.130532,0.336040,0.399009,0.3940,0.446101,0.229461,0.110340,0.775975,0.547261,0.432322,0.416653,0.430474,0.542348
3,113.424941,-2.163288,0.043292,0.0421,0.0812,0.0466,0.134379,0.351648,0.417839,0.4168,0.464143,0.223612,0.101271,0.798878,0.576396,0.444486,0.423703,0.442971,0.549499
4,113.425030,-2.163288,0.042866,0.0423,0.0795,0.0438,0.136412,0.360097,0.429635,0.4285,0.476022,0.219683,0.099363,0.814525,0.593490,0.453147,0.430324,0.451958,0.563497
5,113.425120,-2.163288,0.040278,0.0420,0.0762,0.0388,0.124923,0.340816,0.403166,0.4120,0.441881,0.194074,0.088096,0.827862,0.588767,0.438667,0.419405,0.436757,0.538779
6,113.425210,-2.163287,0.039452,0.0396,0.0657,0.0376,0.109387,0.290810,0.344104,0.3612,0.375337,0.169417,0.074761,0.811434,0.540053,0.391277,0.383045,0.389703,0.493557
7,113.425300,-2.163287,0.039195,0.0348,0.0568,0.0317,0.089526,0.233403,0.274813,0.2852,0.301690,0.142013,0.058130,0.799937,0.465479,0.334381,0.343335,0.335758,0.427886
8,113.425390,-2.163287,0.035192,0.0285,0.0447,0.0236,0.062505,0.170632,0.202270,0.2040,0.222229,0.096012,0.038280,0.792619,0.371908,0.272599,0.299485,0.279352,0.347221
9,113.425480,-2.163287,0.035062,0.0270,0.0393,0.0218,0.051286,0.141424,0.167085,0.1674,0.183565,0.078255,0.031573,0.769556,0.316889,0.233339,0.269227,0.242964,0.299361
10,113.425570,-2.163287,0.035361,0.0272,0.0357,0.0213,0.049553,0.128505,0.154848,0.1578,0.169700,0.071603,0.029374,0.762144,0.301502,0.213406,0.249930,0.223768,0.284944

In [43]:
import joblib
import pandas as pd
from sklearn.svm import SVR

model = joblib.load('model_svr_testing_fixed.pkl')

required_columns = ['Band 1', 'Band 2', 'Band 3', 'Band 4', 'Band 5', 'Band 6', 'Band 7', 'Band 8', 'Band 8A', 'Band 11', 'Band 12', 'NDVI', 'SAVI', 'MSAVI', 'EVI', 'EVI2', 'GSAVI']
if not all(column in data_baru_pred.columns for column in required_columns):
    raise ValueError("Data baru tidak memiliki semua kolom yang diperlukan untuk prediksi.")
X_new = data_baru_pred[required_columns]
y_pred_new = model.predict(X_new)

pred_results = pd.DataFrame({
    'longitude': data_baru_pred['longitude'],
    'lattitude': data_baru_pred['lattitude'],
    'prediksi': y_pred_new
})

In [44]:
# Simpan hasil prediksi ke dalam file CSV
pred_results.to_csv('Prediksi_BORON TESTING_Model_SVR.csv', index=False)
print("Prediksi untuk data baru telah disimpan ke dalam file Prediksi_Kalsium_Model_SVR.csv")

Prediksi untuk data baru telah disimpan ke dalam file Prediksi_Kalsium_Model_SVR.csv

In [47]:
import pandas as pd
data_baru = pd.read_csv('Prediksi_BORON TESTING_Model_SVR.csv')
data_baru.head()

    longitude  lattitude  prediksi
0  113.424761  -2.163288  2.610213
1  113.424851  -2.163288  2.618245
2  113.424941  -2.163288  2.596379
3  113.425030  -2.163288  2.578961
4  113.425120  -2.163288  2.630171

In [59]:
import pandas as pd
import scipy.stats as stats

# Misalkan Anda telah menghitung best_lambda sebelumnya
best_lambda = -0.01786592640242531 # nilai best_lambda

data_prediksi = pd.read_csv('Prediksi_BORON TESTING_Model_SVR.csv')
data_prediksi['prediksi'] = (data_prediksi['prediksi'] * best_lambda + 1) ** (1 / best_lambda)
data_prediksi['prediksi'] = data_prediksi['prediksi']
data_prediksi.tail(20)

         longitude  lattitude   prediksi
598915  113.397011  -2.337066  16.316828
598916  113.397101  -2.337066  17.217712
598917  113.397191  -2.337066  18.581892
598918  113.395753  -2.337159  15.608816
598919  113.395843  -2.337159  16.053968
598920  113.395933  -2.337159  16.088502
598921  113.396023  -2.337159  15.861508
598922  113.396113  -2.337158  15.672615
598923  113.396203  -2.337158  15.792304
598924  113.396292  -2.337158  16.376737
598925  113.396382  -2.337158  16.389193
598926  113.396472  -2.337158  15.986523
598927  113.396562  -2.337158  16.072807
598928  113.396652  -2.337157  16.551495
598929  113.396742  -2.337157  16.472695
598930  113.396832  -2.337157  16.350552
598931  113.396922  -2.337157  16.322019
598932  113.397011  -2.337157  16.678408
598933  113.397101  -2.337157  17.064840
598934  113.397191  -2.337157  17.628736

In [60]:
# Simpan DataFrame pred_new ke dalam file CSV
data_prediksi.to_csv('Prediksi_BORON_PREDIKSI FIXED_Model SVR.csv', index=False)
print('file telah disimpan di dalam direktori')

file telah disimpan di dalam direktori